// app global css in SCSS form
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600&display=swap");

* {
    font-family: "Verdana", sans-serif;
    font-style: normal;
    font-weight: 500 !important;
    letter-spacing: .01em;
}
.q-btn__content, .q-tab__content {
  text-transform: none !important;
}

.q-btn {
  border-radius: 9999px !important; 
  font-weight: 600 !important; 
  text-transform: none !important; 
  padding: 0% 20px !important;
  font-size: medium !important;
}