// app global css in SCSS form
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600&display=swap");

* {
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -.01em;
    color: #6b7082;
}