// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary       : #138A59 !default;  
$secondary     : #282a33 !default;  
$accent        : #f2c526 !default;

$dark          : #000000 !default;  
$dark-page     : #6b7082 !default;  

$positive      : #3efdb7 !default;  
$negative      : #ff3f55 !default;  
$info          : #31ccec !default;  
$warning       : #ba9f44 !default;  

$font-size-base: 16px !default;
$font-family   : 'Source Sans Pro', sans-serif !default;
$font-family-secondary: 'Comfortaa', cursive !default;
