// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

//$primary       : ##013f21 !default 282a33;  
$primary       : #013f21 !default;
$secondary     : #013f21 !default;  
$accent        : #f2c526 !default;

$dark          : #000000 !default;  
$dark-page     : #6b7082 !default;  

$positive      : #218e61 !default;  
$negative      : #013f21 !default;  
$info          : #217889 !default;  
$warning       : #ba9f44 !default;  

